fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
redis
python-dotenv
pytest
httpx
pydantic
pydantic-settings
psycopg[binary]
pydantic[email]
passlib[bcrypt]>=1.7.4
python-multipart
python-jose[cryptography]
